@import '../sass-helpers/placeholders';
@import '../sass-helpers/variables';

.SearchResult {
    display: flex;
    justify-content: space-around;
    
    .result-album-artist-container {
      @extend %flex-col-direction;
      gap: 1rem;
    }
    
    .result-track-container {
      @extend %flex-col-direction;
      gap: 1rem;
    }
  }