@import '../sass-helpers/breakpoints';

.top-container {
    width: 100vw;
    h2 {
        margin-top: 0;
        margin-inline: 3%;
    }
    
    .container {
        display: flex;
        margin-inline: 3%;
        gap: 2rem;
        overflow-x: scroll;
        &::-webkit-scrollbar { // hide scrollbar
            display: none;
        }
    }

    p { margin-inline: 3%; }
}