@import '../sass-helpers/breakpoints';

.top-container {
    width: 100vw;
    h2 {
        margin-top: 0;
        margin-inline: 3%;
    }
    
    .container {
        transition-duration: 400ms;
        display: flex;
        margin-inline: 3%;
        gap: 2rem;
        overflow-x: scroll;
        &::-webkit-scrollbar { // hide scrollbar
            display: none;
        }

        @include tablet { gap: 1.5rem; }
        @include mobile-landscape { gap: 1.2rem; }
        @include mobile-landscape { gap: 1.1rem; }
    }

    p { margin-inline: 3%; }
}