@use '../../sass-helpers/placeholders';

.Track {
    display: flex;
    border: solid black;
    border-radius: 8px;
    gap: 1.5rem;
    align-items: center;
    max-width: 25rem;
    height: auto;
    padding: 1rem;
    .track-img-div {
        width: 8rem;
        height: 8rem;
        object-fit: cover;
        overflow: hidden;
        img { width: 100%; }
    }

    .track-content {


        button {
            border: none;
            border-radius: 8px;
            @extend %flex-justify-align-center;
            gap: 0.4rem;
            padding: 0.7rem;
            background-color: #caf55c;
            transition-duration: 150ms;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
                background-color: hsl(77, 88%, 75%);
            }

            svg { fill: black; }
        }
    }
}