@mixin mobile-portrait {
    @media (max-width: 478px) {
        @content;
    }
}
@mixin mobile-landscape {
    @media (max-width: 767px) {
        @content;
    }
}
@mixin tablet {
    @media (max-width: 991px) {
        @content;
    }
}
@mixin desktop {
    @media (max-width: 1200px) {
        @content;
    }
}

// responsiveness debugger
// background-color:turquoise;
// @include desktop { background-color: palegreen; }
// @include tablet { background-color: slateblue; }
// @include mobile-landscape { background-color: palegoldenrod; }
// @include mobile-portrait { background-color: pink; }
