%flex-align-center {
    display: flex;
    align-items: center;
}

%flex-justify-align-center {
    @extend %flex-align-center;
    justify-content: center;
}

%flex-col-direction {
    display: flex;
    flex-direction: column;
}

%flex-justify-between {
    display: flex;
    justify-content: space-between;
}

%flex-justify-between-align-center {
    @extend %flex-justify-between;
    align-items: center;
}