$standard-accent-color1: #7FF5D1;
$standard-accent-color1-more-light: hsl(162, 86%, 80%);

$standard-accent-color2: #47A88B;

$standard-accent-color3: #F5997F;

$standard-bg-color1: hsl(13, 35%, 30%);
$standard-bg-color1-original: #a84e36;

$regular-transition-duration-quick: 200ms;
$regular-transition-duration-medium: 300ms;
$regular-transition-duration-normal: 400ms;

$spotify-color: #1bd760;

$banner-padding-desktop: 1.5rem;
$banner-padding-tablet: 2rem;
$banner-padding-mobile-landscape: 1rem;
$banner-padding-mobile-portrait: 0.5rem;

$regular-input-height: 1rem;