$standard-accent-color1: #7FF5D1;
$standard-accent-color1-more-light: hsl(162, 86%, 80%);

$standard-accent-color2: #47A88B;

$standard-accent-color3: #F5997F;

$standard-bg-color1: hsl(13, 35%, 30%);
$standard-bg-color1-original: #a84e36;

$standard-transition-duration-quick: 200ms;