$standard-accent-color1: #7FF5D1;
$standard-accent-color1-more-light: hsl(162, 86%, 80%);

$standard-accent-color2: #47A88B;

$standard-accent-color3: #F5997F;

$standard-bg-color1: hsl(13, 35%, 30%);
$standard-bg-color1-original: #a84e36;

$regular-transition-duration-quick: 200ms;
$regular-transition-duration-medium: 300ms;
$regular-transition-duration-normal: 400ms;

$spotify-color: #1bd760;

$banner-padding-desktop: 1.5rem;
$banner-padding-tablet: 2rem;
$banner-padding-mobile-landscape: 1rem;
$banner-padding-mobile-portrait: 0.5rem;

$regular-input-height: 1rem;

// color pallete #4196
$regular-khaki: #c2b2a5;
$regular-emerald: #a3c1b4;
$regular-grass: #7a8b65;
$regular-dark-grass: #424f35;
$regular-black: #25312f;

// color pallete #4537
$dark-regular-black: #1D0F0F;
$dark-plum: #453C41;
$dark-grey: #7B7C81;
$dark-light-slate: #D4DBE2;
$dark-eggplant: #7B586B;