@import '../../sass-helpers/placeholders';
@import '../../sass-helpers/variables';
@import '../../sass-helpers/breakpoints';


.LoginSpotifyButton {
    padding: 1rem 5rem;
    background-color: whitesmoke;
    gap: 0.5rem;
    border-radius: 12px;
    transition-duration: 400ms;
    box-shadow: 10px 30px 30px hsla(0, 0%, 0%, 0.416);
    max-width: auto;
    @extend %flex-justify-align-center;
    
    @include tablet {
        border-radius: 40px;
    }
    @include mobile-landscape {
        padding: 0.7rem 2rem;
    }
    @include mobile-portrait {
        padding: 0.4rem 2rem;
        width: 11rem;
    }
    
    &:hover {
        cursor: pointer;
        box-shadow: 20px 40px 20px hsla(0, 0%, 0%, 0.416);
        border-radius: 40px;
        background-color: black;
        input { color: whitesmoke; }
    }
    
    svg {
        fill: $spotify-color;
        width: 20px;
        height: 20px;
        transition-duration: 400ms;
        @include mobile-landscape {
            width: 24px;
            height: 24px;
        }
        @include mobile-portrait {
            width: 30px;
            height: 30px;
        }
    }

    input {
        border: none;
        background-color: transparent;
        font-size: large;
        @include mobile-landscape {
            font-size: medium;
        }

        &:hover { cursor: pointer; }
    }
}