@import '../../sass-helpers/placeholders';
@import '../../sass-helpers/variables';

.LoginSpotifyButton {
    padding: 1rem 5rem;
    background-color: whitesmoke;
    gap: 0.5rem;
    border-radius: 12px;
    transition-duration: 400ms;
    box-shadow: 10px 20px 40px hsla(0, 0%, 0%, 0.416);
    @extend %flex-justify-align-center;
    
    &:hover {
        cursor: pointer;
        box-shadow: 20px 40px 20px hsla(0, 0%, 0%, 0.416);
        border-radius: 40px;
        background-color: black;
        input { color: whitesmoke; }
    }
    
    svg {
        fill: $spotify-color;
        width: 20px;
        height: 20px;
    }

    input {
        border: none;
        background-color: transparent;
        font-size: large;

        &:hover { cursor: pointer; }
    }
}