@import '../../sass-helpers/breakpoints';
@import '../../sass-helpers/placeholders';
@import '../../sass-helpers/variables';

.LoginPage {
    @extend %flex-justify-between;
    padding-inline: 5%;
    padding-block: 100px;
    gap: 5rem;

    @include tablet { padding-inline: 3%; }
    @include mobile-landscape {
        justify-content: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
    }
    
    .login-img-div {
        position: relative;     

        .login-slogan {
            transition-duration: 400ms;
            position: absolute;
            display: inline;
            bottom: $banner-padding-desktop + 2rem;
            left: $banner-padding-desktop;
            
            @include desktop {
                bottom: $banner-padding-desktop;
                left: $banner-padding-desktop;
            }
            @include tablet {
                bottom: $banner-padding-tablet;
                left: $banner-padding-tablet - 1rem;
            }
            @include mobile-landscape {
                bottom: $banner-padding-mobile-landscape + 1.5rem;
                left: $banner-padding-mobile-landscape;
            }
            @include mobile-portrait {
                bottom: $banner-padding-mobile-portrait + 0.9rem;
                left: $banner-padding-mobile-portrait;
            }

            h2 {
                margin: 0;
                color: whitesmoke;
                letter-spacing: 1.2px;
                font-weight: 300;
                font-size: 2.5rem;
                transition-duration: 400ms;

                @include desktop {
                    font-size: 2rem;
                }
                @include tablet {
                    font-size: 1.4rem;
                }
                @include mobile-landscape {
                    font-size: 2rem;
                    font-weight: 200;
                }
                @include mobile-portrait {
                    font-size: 1.2rem;
                }
            }
        }

        img {
            width: 100%;
            border-radius: 12px;
            transition-duration: 400ms;
            display: block;
            @include tablet {
                width: 110%;
            }
            @include mobile-landscape {
                width: 100%;
            }
        }
    }
    
    .login-content {
        transition-duration: 400ms;
        
        @include mobile-landscape {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        .login-body {
            
            .login-content-header {
                @extend %flex-justify-between-align-center;
    
                h1 {
                    margin: 0;
                    transition-duration: 400ms;
    
                    @include mobile-landscape { font-size: 30px; }
                    @include mobile-portrait { font-size: 20px; }
                }
            }
    
            p {
                transition-duration: 400ms;
                
                @include mobile-portrait {
                    font-size: small;
                    margin-bottom: 2.5rem;
                }
            }
        }
        

        .login-spotify-button {
            margin-top: 2.7rem;
            transition-duration: 400ms;
            display: flex;
            justify-content: center;
        
            @include mobile-landscape { margin-top: 1.7rem; }
            @include mobile-portrait { margin-top: 0rem; }
        }
    }
}