

.LoginPage {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    padding-inline: 5%;
    
    .login-img-div {
        height: 35rem;

        .login-slogan {
            // border: solid orange;
            h2 {
                position: absolute;
                object-position: 50% 50%;
                color: whitesmoke;
            }
        }

        img {
            height: 100%;
            border-radius: 12px;
        }
    }
    
    .login-content { width: 25rem; }

    .login-spotify-button { margin-top: 4rem; }
}