@use '../sass-helpers/placeholders';

.Album {
    border: solid black;
    padding: 1.2rem;
    border-radius: 8px;
    @extend %flex-col-direction;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 15rem;
    height: 25rem;
    margin-bottom: 1.2rem;

    .album-img-div {
        overflow: hidden;
        img { width: 100%; }
    }

    button {
        @extend %flex-justify-align-center;
        gap: 0.4rem;
        padding: 0.4rem;
        transition: 150ms;
        background-color: whitesmoke;
        border: 1px solid black;
        border-radius: 4px;
        &:hover {
            cursor: pointer;
            transform: scale(1.03);
        }
    }
}