@import '../sass-helpers/breakpoints';
@import '../sass-helpers/placeholders';

.DarkLightModeButton{
    border: 1px solid black;
    border-radius: 40px;
    padding: 0.3rem 1.4rem;
    transform: scale(0.8);
    transition-duration: 400ms;
    @extend %flex-align-center;
    
    &:hover { cursor: pointer; }

    @include mobile-landscape {
        transform: scale(0.7);
    }
    
    @include mobile-portrait {
        transform: scale(0.6);
    }

    .toggle-button {
        border: 1px solid black;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;

        transform: translateX(-100%);
    }
}