@import '../sass-helpers/variables';

.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    h1 {
        width: max-content;
        margin-left: 3%;
    }
    
    .navbar-right {
        margin-right: 3%;
        display: flex;
        gap: 2rem;

        .navbar-logout-button {
            border: 1.5px solid black;
            padding-inline: 2rem;
            border-radius: 12px;
            transition-duration: $regular-transition-duration-medium;
            &:hover{
                cursor: pointer;
                background-color: black;
                color: whitesmoke;
                border-radius: 40px;
            }
        }
    }

    .menu-button {
        border: solid orange;
        border-radius: 8px;
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &:hover {
            cursor: pointer;
        }

        .button-stripes {
            transition-duration: 400ms;
            border: 1.5px solid black;
            width: 2rem;
            height: 0.2rem;
            border-radius: 40px;
        }
    }
}