@import '../sass-helpers/variables';
@import '../sass-helpers/breakpoints';
@import '../sass-helpers/placeholders';
    
.NavBar {
    @extend %flex-justify-between-align-center;
    width: 100%;
    padding-block: 1.7%;
    transition-duration: 400ms;
    background-color: $regular-khaki;
    @include desktop {
        padding-block: 1.5%;
    }
    // @include desktop { background-color: palegreen; }
    // @include tablet { background-color: slateblue; }
    // @include mobile-landscape { background-color: palegoldenrod; }
    // @include mobile-portrait { background-color: pink; }

    .navbar-left {
        @extend %flex-align-center;
        transition-duration: $regular-transition-duration-medium;
        margin-left: 3%;
        gap: 3rem;
        
        @include tablet { gap: 1.5rem; }
        @include mobile-portrait { display: none; }

        h1, p { margin: 0; }
        h1 {
            width: max-content;
            @include mobile-landscape {
                display: none;
            }
        }

        p {
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
    }

    .navbar-right {
        margin-right: 3%;
        display: flex;
        gap: 2rem;

        @include mobile-landscape { display: none; }

        .navbar-logout-button {
            border: 1.5px solid $regular-black;
            padding-inline: 2rem;
            border-radius: 8px;
            background-color: $regular-black;
            color: whitesmoke;
            transition-duration: $regular-transition-duration-medium;
            &:hover{
                cursor: pointer;
                border-radius: 40px;
            }
        }
    }

    .menu-button {
        border: 1.5px solid black;
        border-radius: 8px;
        padding: 0.5rem;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        margin-right: 3%;
        transition-duration: 400ms;
        width: 2rem;
        height: 2rem;
    
        &:hover { cursor: pointer; }
    
        @include mobile-landscape {
            display: flex;
            transform: scale(0.75);
        }
    
        .button-stripes {
            transition-duration: 400ms;
            border: 1.5px solid black;
            width: 2rem;
            height: 0.2rem;
            border-radius: 40px;
        }
    }
}