@import '../sass-helpers/variables';
@import '../sass-helpers/breakpoints';

    
.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-block: 3%;
    transition-duration: 400ms;

    h1 {
        width: max-content;
        margin-left: 3%;
        margin-block: 0;

        @include mobile-landscape {
            display: none;
        }
    }

    .navbar-right {
        margin-right: 3%;
        display: flex;
        gap: 2rem;

        @include mobile-landscape { display: none; }

        .navbar-logout-button {
            border: 1.5px solid black;
            padding-inline: 2rem;
            border-radius: 12px;
            transition-duration: $regular-transition-duration-medium;
            &:hover{
                cursor: pointer;
                background-color: black;
                color: whitesmoke;
                border-radius: 40px;
            }
        }
    }

    .menu-button {
        border: 1.5px solid black;
        border-radius: 8px;
        padding: 0.5rem;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        margin-right: 3%;
        transition-duration: 400ms;
        width: 2rem;
        height: 2rem;
    
        &:hover { cursor: pointer; }
    
        @include mobile-landscape {
            display: flex;
            transform: scale(0.75);
        }
    
        .button-stripes {
            transition-duration: 400ms;
            border: 1.5px solid black;
            width: 2rem;
            height: 0.2rem;
            border-radius: 40px;
        }
    }
}