@import '../sass-helpers/placeholders';
@import '../sass-helpers/components';

.Playlist {
    border: solid red;
    // width: 100%;
    height: auto;
    padding: 1rem;
    @extend %flex-col-direction;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        input {
        }
        
        .playlist-title {
            border: none;
            background-color: whitesmoke;
            padding-block: 0.5rem;
            padding-inline: 0.7rem;
            outline: none;
        }

        .playlist-submit {
            @extend %add-button;
        }
    }
}