@use '/src/sass-helpers/placeholders'; 
@import '../sass-helpers/variables';

.SearchBar {
    @extend %flex-justify-align-center;
    gap: 1.5rem;
    width: 100%;
    padding-block: 2rem;
    // border: solid orange;
    
    .search-bar-input-tags {
        padding-block: 0.5rem;
        border-radius: 6px;
        border: none;
    }
    
    #searchBarInput {
        padding-inline: 0.5rem;
        width: 20%;
        &:focus { outline: $standard-bg-color1; }
    }
    
    #searchBarSubmit {
        padding-inline: 2rem;
        font-weight: 700;
        background-color: $standard-accent-color1;
        border-radius: 20px;
        transition-duration: $regular-transition-duration-quick;
        &:hover {
            cursor: pointer;
            background-color: $standard-accent-color1-more-light;
        }
    }
}