@use '/src/sass-helpers/placeholders'; 
@import '../sass-helpers/variables';

.SearchBar {

    .search-bar-form {
        input {
            transition-duration: 400ms;
            border: none;
            border-radius: 40px;
            width: 20rem;
            padding-block: 0.5rem;
            padding-inline: 3rem 1rem;
            height: $regular-input-height;
            &:focus {
                outline: none;
            }
        }
    }

    .search-bar-glass {
        position: relative;
        span {
            transition-duration: 400ms;
            position: absolute;
            bottom: $regular-input-height / 2.5;
            padding-left: 1rem;
        }
    }
}