@use '/src/sass-helpers/placeholders'; 
@import '../sass-helpers/variables';
@import '../sass-helpers/breakpoints';

.SearchBar {

    @include mobile-landscape {
        margin-left: 3%;
    }

    .search-bar-form {
        input {
            transition-duration: 350ms;
            border: none;
            border-radius: 40px;
            width: 20rem;
            padding-block: 0.5rem;
            padding-inline: 3rem 1rem;
            height: $regular-input-height;
            &:focus { outline: none; }
            
            @include tablet {
                width: 12rem;
            }
            
            @include mobile-portrait {
                width: 55vw;
                padding-inline: 2.5rem 1rem;
            }
        }
    }

    .search-bar-glass {
        position: relative;
        span {
            transition-duration: 400ms;
            position: absolute;
            bottom: $regular-input-height / 2.5;
            padding-left: 1rem;
        }
    }
}