@use '../sass-helpers/placeholders';
@import '../sass-helpers/variables';
@import '../sass-helpers/components';

.Track {
    transition-duration: 400ms;
    display: flex;
    justify-content: space-between;
    border: 1.5px solid black;
    border-radius: 8px;
    gap: 1.5rem;
    align-items: center;
    // min-width: 18rem;
    padding: 0.8rem;

    &:hover {
        cursor: pointer;
    }

    .track-left {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        .track-img-div {
            width: 4rem;
            height: 4rem;
            object-fit: cover;
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    
        .track-content {
            h3 {
                margin-top: 0;
            }

            a {
                text-decoration: none;
                color: black;
    
                &:hover { text-decoration: underline; }

                p {
                    margin: 0;
                }
            }
        }

    }


    .track-plus-btn {
        svg {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}