@use '/src/sass-helpers/placeholders'; 

.App {
  .App-header {
    @extend %flex-justify-align-center;
  }
  
  .Body {
    @extend %flex-justify-align-center;
    background-color: dodgerblue;
    flex-direction: column;
    
    .MixinJam {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}