@use '/src/sass-helpers/placeholders'; 

.App {
  border: 10px solid salmon;
  .App-header {
    border: 10px solid orange;
    @extend %flex-justify-align-center;
  }
  
  .Body {
    @extend %flex-justify-align-center;
    background-color: dodgerblue;
    flex-direction: column;
    
    .MixinJam {
      width: 100%;
      border: solid orange;
      display: flex;
      justify-content: space-around;
      align-items: center;

    }
  }
}