@use '/src/sass-helpers/placeholders'; 
@import '../src/sass-helpers/variables';

.App {
  .App-header {
    @extend %flex-justify-align-center;
    background-color: $standard-bg-color1;
    padding-top: 2rem;
    h1 { color: whitesmoke; margin: 0; }
  }
  
  .Body {
    @extend %flex-justify-align-center;
    flex-direction: column;
    background-color: whitesmoke;
    
    
    .SearchBar {
      background-color: $standard-bg-color1;
      // border: solid red;
      padding-block: 1rem;
      width: 100%;
    }
    
    .MixinJam {
      @extend %flex-justify-between;
      align-items: start;
      padding-inline: 3%;
      padding-block: 2rem;
      gap: 5rem;

      .SearchResult {
        display: flex;
        column-count: 1;
        column-gap: 1.2rem; 

        .SearchResult-Album-div {
          @extend %flex-col-direction;
          gap: 1rem;
        }

        .SearchResult-Track-div {
          @extend %flex-col-direction;
          gap: 1rem;
        }
      }
    }

  }
}