@import '../../sass-helpers/variables';
@import '../../sass-helpers/placeholders';

.Body {
    @extend %flex-justify-align-center;
    flex-direction: column;
    background-color: whitesmoke;
    align-items: start;

    .MixinJam {
      padding-block: 2rem;
      gap: 1.2rem;
      transition-duration: $regular-transition-duration-normal;
    }
}