.SearchBar {
    display: flex;
    gap: 0.5rem;
    width: 20rem;
    padding-block: 2rem;
    
    .search-bar-input-tags {
        padding-block: 0.5rem;
        border-radius: 6px;
        border: none;
    }
    
    #searchBarInput {
        padding-inline: 0.5rem;
        width: 100%;
    }
    
    #searchBarSubmit {
        padding-inline: 1rem;
        &:hover { cursor: pointer; }
    }
}